body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(images/Untitled.jpg) no-repeat center/cover;
}

.container{
    height: 250px;
    width: 30%;
    background-color: whitesmoke;
    border: solid 3px darkcyan;
    border-radius: 5px;
    box-shadow: 0 0 20px;
}

#timer{
    font-size: 90px;
    text-align: center;
    margin: 0 auto;
    padding: 5px;
}

.buttons{
    text-align: center;
    margin-top: 20px;
}

button{
    margin: 0 8px;
    border: none;
    background-color: darkslategray;
    border: solid 2px darkcyan;
    border-radius: 3px;
    box-shadow: 0 0 1px; 
}

button i{
    font-size: 32px;
    padding: 8px;
    width: 28px;       
    color:antiquewhite;
}

 /* #play{
    background-color: darkslategray;
}

#pause{
    background-color: darkslategray;
}
#reset{
    background-color: darkseagreen;
} */